
.forma{
    width: 200px;
    height: 150px;
    margin: auto;
    background-color: gray;
    border-radius: 10px;
    border: solid 3px darkblue;
}

#enter{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.bat{
    width: 50px;
    height: 30px;
    display: block;
    margin: auto;

    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.99);
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    border-radius: 25px;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: helvetica, serif;
    text-decoration: none;
    
}
.bat:hover{
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    color: #fff;
}